 body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .loaderes {
      display: flex;
      align-items: center;
      gap: 20px;
      border: 1px solid black;
      width: fit-content;
      padding: 10px;
      border-radius: 10px;
      margin-top: 30px;
    }

    .rotate {
      border: 16px grey solid;
      border-top: 16px rgb(41, 73, 177) solid;
      height: 38px;
      width: 38px;
      border-radius: 50%;
      animation: spin 1s linear infinite;
      margin-bottom: 15px;
    }

    .imgC {
      border-left: 3px solid black;
      padding-left: 20px;
    }

    .imgC img {
      height: 45px;
      animation: spin 1.2s linear infinite;
    }

    .leftRight {
      display: flex;
      border: 1px solid black;
      height: fit-content;
      width: fit-content;
      margin-top: 40px;
    }

    .leftRight div {
      border: 1px solid black;
      height: 15px;
      width: 15px;
    }

    .orange {
      background-color: orange;
    }

    .circle {
      height: 50px;
      width: 50px;
      margin-top: 40px;
      border-radius: 50%;
      background-color: orangered;
      animation: pulse 1.25s infinite;
      margin: 20px;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 orangered;
      }

      100% {
        box-shadow: 0 0 0 17px #fff;
      }
    }