    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      font-family: Arial, Helvetica, sans-serif;
      background: #f4f6f8;
    }

    h1 {
      width: 100%;
      background-color: #252525;
      color: #fff;
      margin: 0 auto 20px auto;
      padding: 10px 0;
      text-align: center;
    }

    h3 {
      color: green;
      margin: 0 0 15px 15px;
    }

    nav {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
      max-width: 1200px;
      justify-items: center;
      row-gap: 15px;
      padding-bottom: 100px;
    }

    img {
      height: 300px;
    }

    a {
      display: flex;
      border-radius: 10px;
      border: 1px solid black;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      padding-bottom: 10px;
      width: 350px;
    }

    a:hover {
      box-shadow: 0px 0px 8px green;
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: lightcoral;
      color: #fff;
    }

    footer a {
      border: none;
      padding: 0;
    }

    footer a:hover {
      text-decoration: underline;
      box-shadow: none;
    }