.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-top: 4px solid green;
  padding-bottom: 60px;
}

.container h2 {
  margin: 10px auto;
  padding: 10px 0;
  color: rgb(21, 140, 100);
}

.kokemukset {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  row-gap: 15px;
}

.kokemukset div.kokemus {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  border: 1px solid black;
  border-top: 4px solid lightcoral;
  border-radius: 15px;
  padding: 15px;
  gap: 10px;
  width: fit-content;
}

.kokemukset div.kokemus h3 {
  margin-bottom: 10px;
}

.kokemukset div.kokemus p {
  max-width: 350px;
}