body{
  height: 100vh;
}

.container{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  gap: 10px;
  margin: 100px auto;
}

.container input,
.container select{
  width: 300px;
  height: 30px;
}
.container input:hover,
.container select:hover{
  box-shadow: 0 0 3px green;
  outline: none;
}

button{
  background-color: black;
  color: white;
  padding: 5px 15px;
}